<ion-content>
    <ion-scroll class="track-list" scrollY="true">
        <ion-list *ngIf="tracks.albums" (swipe)="goBack($event)">
            <button class="track" 
                    *ngFor="let album of tracks.albums"
                    ion-item (click)="openAlbum(album)">
                <!-- <ion-thumbnail item-start *ngIf="track.artwork_url">
                    <img [src]="track.artwork_url">
                </ion-thumbnail> -->
                <ion-thumbnail item-start *ngIf="!track.artwork_url">
                    <div class="default-cover"></div>
                </ion-thumbnail>
                <h2>{{ album.name }}</h2>
            </button>
        </ion-list>
    </ion-scroll>
</ion-content>